/* ------------------------ */

/* Classes for attributes */

/* ------------------------ */

.center-content {
  text-align: center;
  left: 0;
}

.height100 {
  height: 100%;
}

/* ------------------------ */
/* Classes for components */
/* ------------------------ */
.web-container {
  background-color: #f6da47;
}

.menu {
  align-self: flex-end;
  width: 100%;
  margin-bottom: 35px;
  background-color: #eee;
  padding: 10px;
  border-radius: 30px;
}

.selection-menu {
  background-color: #ededed;
  width: 100%;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  justify-content: center;
  margin-left: -10px;
}

#move-forward {
  background-color: #14bcf3;
  width: 80%;
}

#move-backwards {
  background-color: #ff9800;
  width: 80%;
}

#move-left {
  background-color: #f30fa2;
  width: 80%;
}

#move-right {
  background-color: #01b040;
  width: 80%;
}

.btn {
  letter-spacing: 1.8px;
  margin: -10px;
}

.col-8 {
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  letter-spacing: -0.8px;
  color: #000;
}

.selection-menu-title {
  font-family: "Varela Round", sans-serif;
  font-size: 23px;
  letter-spacing: -0.8px;
  padding: 13px 0 0;
}

.selection-menu-type {
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  letter-spacing: -0.8px;
  padding: 0 0 10px;
}

/* Icon Design */

#icon {
  width: 210px;
  height: 130px;
  margin: 12px 0 15px -20px;
}

/* Canvas Section */

#my-canvas {
  width: 100%;
  padding-left: 50px;
  padding-right: 30px;
  background-color: white;
  border-radius: 30px;
}

.canvas-container {
  background-color: #eeee;
  border-radius: 30px;
  height: max-content;
  padding-bottom: 30px;
}

.canvas-menu {
  display: inline;
}

.canvas-menu ul {
  padding-top: 1em;
  padding-left: 1em;
}

.canvas-menu li {
  display: inline;
  padding-right: 1em;
  padding-left: 1em;
}

/* ------------------ */

/* Webpage Text */
h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: #000;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
  color: #747272;
}

/* ----------------- */

/* ------------------------* /
/* Media Queries */
/* ------------------------ */

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-7px);
  }
}

button {
  animation-duration: 1.3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

button:hover {
  cursor: pointer;
  animation-name: bounce;
}

form {
  border-radius: 10px;
  margin: 0 auto 20px;
  padding: 5px 0 10px;
  background-color: #ffc15e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  border-radius: 15px;
  width: 5em;
  text-align: center;
}

label {
  font-size: 18px;
}
