/* Classes for attributes */

/* ------------------------ */

.center-content {
  text-align: center;
  left: 0;
}

.height100 {
  height: 100%;
}

/* ------------------------ */

/* Classes for components */

/* ------------------------ */

.web-container {
  background-color: #f6da47;
}

.menu {
  align-self: flex-end;
  width: 100%;
  margin-bottom: -1px;
  background-color: #eee;
  padding: 10px;
  border-radius: 30px;
}

.selection-menu {
  background-color: #ededed;
  width: 100%;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  justify-content: center;
  margin-left: -10px;
}

#trash-icon {
  margin: 0 0 0 220px;
  width: 40px;
  cursor: pointer;
  animation-name: bounce;
}

#move-forward {
  background-color: #14bcf3;
  width: 68%;

  --background-color: #14bcf3;
}

#move-backwards {
  background-color: #ff9800;
  width: 68%;

  --background-color: #ff9800;
}

#move-left {
  background-color: #f30fa2;
  width: 68%;

  --background-color: #f30fa2;
}

#move-right {
  background-color: #01b040;
  width: 68%;

  --background-color: #01b040;
}

#move-forward-copy {
  background-color: #14bcf3;
  width: 37%;
  text-align: center;

  --background-color: #14bcf3;

  margin-bottom: -3px;
}

#move-backwards-copy {
  background-color: #ff9800;
  width: 37%;

  --background-color: #ff9800;

  text-align: center;
  margin-bottom: -3px;
}

#move-left-copy {
  background-color: #f30fa2;
  width: 37%;
  text-align: center;
  margin-bottom: -3px;

  --background-color: #f30fa2;
}

#move-right-copy {
  background-color: #01b040;
  width: 37%;

  --background-color: #01b040;

  text-align: center;
  margin-bottom: -3px;
}

.btn {
  letter-spacing: 1.8px;
  margin: -10px;
}

.col-8 {
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  letter-spacing: -0.8px;
  color: #000;
}

.selection-menu-title {
  font-family: "Varela Round", sans-serif;
  font-size: 23px;
  letter-spacing: -0.8px;
  padding: 13px 0 0;
}

.selection-menu-type {
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  letter-spacing: -0.8px;
  padding: 0 0 10px;
}

/* Icon Design */

#icon {
  width: 210px;
  height: 130px;
  margin: 12px 0 15px -20px;
}

/* Canvas Section */

#my-canvas {
  width: 100%;
  padding: 10%, 30px, 10%, 50px;
  background-color: white;
  border-radius: 30px;
}

.canvas-container {
  padding-top: 35px;
  background-color: #eeee;

  --background-color: #eeee;

  border-radius: 30px;
  height: max-content;
  padding-bottom: 30px;
  min-height: 400px;
}

.canvas-menu {
  display: inline;
}

.container-buttons {
  width: 100%;
  background-color: #eeee;
  border-radius: 20px;
  height: max-content;
  padding-bottom: 10px;
  margin-top: 45px;
}

.canvas-menu ul {
  padding-top: 1em;
  padding-left: 1em;
}

.canvas-menu li {
  display: inline;
  padding-right: 1em;
  padding-left: 1em;
}

/* ------------------ */

/* Webpage Text */
h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: #000;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
  color: #747272;
}

/* ----------------- */

/* ------------------------* /

/* Media Queries */

/* ------------------------ */

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-7px);
  }
}

button {
  animation-duration: 1.3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.block {
  width: 60%;
  position: relative;
  padding: 1.5rem 0;
  border: 0.5rem;
  border-radius: 0.8rem;
  border-width: 10px;
  border-color: transparent;
  cursor: pointer;
}

.block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: 2rem;
  height: 0;
  border-top: 1rem solid;
  border-top-color: #eee;
  opacity: 1;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}

.block::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 1.5rem;
  width: 2rem;
  height: 0;
  border-top: 1rem solid;
  border-top-color: var(--background-color);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}

button:hover {
  cursor: pointer;
  animation-name: bounce;
}

form {
  border-radius: 10px;
  margin: 0 auto 20px;
  padding: 5px 0 10px;
  background-color: #ffc15e;
  font-family: "Segoe UI", sans-serif;
}

input {
  border-radius: 15px;
  width: 5em;
  text-align: center;
}

label {
  font-size: 18px;
}
