/*------------------------*/
/* Classes for attributes */
/*------------------------*/

.center-content {
    text-align: center;
    left: 0;
    
}

.height100{
    height: 100%;
}

/*------------------------*/
/* Classes for components */
/*------------------------*/

.web-container{
    background-color: #F6DA47;
}

.menu{
    align-self: flex-end; 
    width: 100%; 
    margin-bottom: 35px; 
    background-color: #EEE; 
    padding: 10px 10px 10px 10px; 
    border-radius: 30px;
}

.selection-menu{
    background-color: #EDEDED;
    width: 100%;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    justify-content: center;
}

/*Icon Design */
#icon{
    width: 201px;
    height: 182px;

}
.play-icon{
    width: 25px;
    height: 25px;
}
.stop-icon{
    width: 25px;
    height: 25px;
}

.undo-icon{
    width: 25px;
    height: 25px;
}

.redo-icon{
    width: 25px;
    height: 25px;
}

/*-------------*/

/* Canvas Section */
#myCanvas{
    width: 100%;
    padding-left: 50px;
    padding-right: 30px;
    background-color: white;
    border-radius: 30px;

}

.canvas-container {
    background-color: #EEEE;
    border-radius: 30px;
    height: max-content;
    padding-bottom: 30px;
}

.canvas-menu{
    display:inline;
}

.canvas-menu ul{
    padding-top: 1em;
    padding-left: 1em;
}

.canvas-menu li {
    display: inline;
    padding-right: 1em;
    padding-left: 1em;
}
/* ------------------ */

/* Webpage Text */
h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 43px;
    text-align: center;
    color: #000000;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    color: #747272;
}
/*-----------------*/

/*------------------------*/
/* Media Queries*/
/*------------------------*/






